// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {

	background-color: rgb(255,0,255);
}

.main {
	text-align: center;
}

h1{

	font-family: 'Fontdiner Swanky', cursive;
}

a {
	font-family: 'Homemade Apple';
	font-size: 2em;
	text-decoration: none;

}

.linkdis{
	margin-top: 20px;

}

.field {
	font-family: 'Homemade Apple';
	font-size: 2em;


}


.icecream{

	 max-width:100px;

}

